mavenJob('CodeStability{{PROJ_ID}}') {
  description("Code Stability for application {{PROJ_ID}}")
  logRotator(-1, 10)
    scm {
      git {
      branch('*/{{REPO_BRANCH}}')
        remote {
          name('')
          refspec('')
          url('{{REPO_URL}}')
        }
      }
    }
  //please enable the maven in your jenkins form jenkins configuration
  goals('clean compile -Dfindbugs.skip')
  rootPOM('pom.xml')
}
